@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@section Scripts {
    @RenderSection("Scripts", required: false)
}
<!DOCTYPE html>
<html lang="eng">
<head>
    <link rel="icon" href="~/Images/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Zachariasz Jankowski</title>
    <meta name="description" content="Portfolio website">
    <meta name="keywords" content="Zachariasz Jankowski, artificial intelligence">
    <meta name="author" content="Zachariasz Jankowski">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>




<body onresize="resize()">
    <header>
        <nav class="navbar navbar-dark bg-main navbar-expand-lg fixed-top ">
            <a class="cz navbar-brand offset-lg-2 pl-3" href="~/feed"><img src="~/Images/logo.png" width="30" height="30" class="d-inline-block mr-1 align-bottom" alt=""> Zachariasz Jankowski</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="special collapse navbar-collapse" id="mainmenu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link " href="~/feed"> Feed </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="~/aboutme"> About me </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="~/projects"> Projects </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Feed", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>

        <div class="bg-white article col-lg-8 offset-lg-2 pl-0 pr-0">
            <div class="top_account m-0 pl-0 pr-0">

                <h1 class="projects d-flex justify-content-start align-bottom "><b class="shadow-sm  titleTop pl-2 pr-2"> @User.Identity.Name</b></h1>

            </div>

            <div class="row mb-auto p-2 pt-5">
                <div class="col-lg-4">
                    <partial name="_ManageNav" />
                </div>
                <div class="col-lg-8 pl-3 pr-3">
                    @RenderBody()
                </div>

            </div>


        </div>
        <div class="d-flex justify-content-center bg-white pl-2 col-lg-8 offset-lg-2 ">
            <partial name="footer" />
        </div>

    </main>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script>

        function resize() {//called every time screan size changes
            $(".article").css("min-height", window.innerHeight - 103);
        }
        $(document).ready(resize());
    </script>
</body>
</html>

